
body {
	background-color: #e9ecef;
}

a {
	color: black;
}

h2 {
 margin-bottom: 40px;
}

#contents h2 {
	padding-top : 50px;
}

#logo-teller {
	margin-top: -7px;
	height: 27px;
	width: 27px;
}

#admin-option {
	display: flex;

}

#link-leave {
	min-width: 90px;
}

#list-group a:hover {
	color: black;

}

#link-group-gestion {
	margin-left: 10px;
	padding-left: 10px;
	border-left: black solid 1px;
	min-width: 80px;
}


#teller {
	border: black solid 1.2px;
	border-radius: 8px;
	height: 35px;
	padding-left: 8px;
	padding-right: 12px;


}


#teller a {
	color: black;
	font-family: 'Pacifico', cursive;
	
}

#teller a:hover {
	color: black;
	text-decoration: none;

}

.navbar-text {
	font-size: 15px;
	font-family: 'Pacifico', cursive;
}


#groupBarSection {
	width: 180px;
	height: 100%;
	overflow: hidden;
	position: fixed;
	background-color: #41e078;
	border-right: black #cccccc 1px;
}


#groupBar {
	width: 109%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 100px;
	overflow: auto;
}

#groupBar a {
	color: black;
}

#groupBar a:hover {
	text-decoration: none;

}


#groupBar h3, #memberBar h3 {
	padding-left: 10px;
	margin-bottom: 30px;
	font-size: 24px;
}

#groupBar div {
	width: 100%;
	min-height: 35px;
	font-size: 20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;



}

#groupBar p {
		margin-bottom: 0px;
}

#groupBar div:hover {
	background-color: #45c170;
}



header {
	position: fixed;
	top: 0px;
	height: 40px;
	width: 100%;
	background-color: #1C9A3E;
	z-index: 10;
	border-bottom : solid black 1px;
}

.loger {
	display: flex;
}

.loger a {
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	color: black;
	font-family: 'Pacifico', cursive;
	
}


.loger a:hover {
	color: black;

}




#memberBar {
	width: 180px;
	height: 100%;
	background-color: #41e078;
	position: fixed;
	right: 0px;
	padding-top: 30px;

}

#memberBar div {
	padding-left: 10px;
}


#memberBar div h4 {
	font-size: 20px;
}

#memberBar a {
 color:black;
}



#navbar {
	margin-left: 180px;
	padding-top : 0px;

}

#navbar a {

}


#contents {
	margin-top: 40px;
}

#nav-option a {
	color: green;
}


#couv-picture {
	width: 100%;

}

#couv-picture-block {
	max-height: 250px;
	width: 104.5%;
	overflow: hidden;
	margin-left: -25px;
	margin-right: -25px;

}


#group-content {
	padding-left: 100px;
	padding-right: 20px;
}

#create-post {
	padding-left: 100px;
	padding-right: 20px;
}


.jumbotron {
	padding: 10px;
	background-color: white;
	border : solid #cccccc 0.5px;
}




#description-bloc {
	padding-top : 7px;

}


.delete-post {
	float : right;
}

.creationDate {
	float: right;
}



.postBox {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}


.comment-option {
	float: right;
}

.comment-content textarea {
	border-radius: 5px;
	margin-bottom: 5px;
	width: 100%;
}

.add-comment {
	float: right;
}